---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Bienvenidos a Mi Astro Blog de Entrenamiento con Astro 4.0">
  <h1>Blog de Pruebas para Practicas con Astro</h1>
</Layout>

<style>
  
</style>
